form {
	width: 40% !important;
}

.btn.btn-submit {
	background-color: rgb(105, 28, 101);
	color: white;
}

.btn.btn-submit:hover {
	background-color: rgb(78, 22, 75);
}

@media only screen and (max-width: 400px) {
	* {
		font-size: small !important;
	}

	form {
		width: 85% !important;
	}
}
